/* Header.scss */
.custom-navbar {
  background-color: #0b6a19;
  color: #fff;
  padding: 0 5rem;
  font-size: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-nav-link {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.nav {
  display: flex;
  padding: 1rem;
}

.nav-item {
  padding-right: 2rem;
}

.navbar-buttons {
  display: flex;
}